/* Delcaring global variables to be used in css */
:root {
  --font-light: #f7ebec;
  --font-dark: #0a0908;
  --font-hover: #e16f7c;
  --nav-bg: #779fa1;
  --background: #22333b;
  --itemText-bg: rgba(34, 51, 59, 0.75);
  --contact-bg: rgba(225, 111, 124, 0.75);
}

* {
  font-family: "Cabin", sans-serif;
}

body {
  background-color: var(--background);
  margin-bottom: 2%;
}

nav {
  background-color: var(--nav-bg);
}

.navContainer {
  width: 100%;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}

.togglerIconSpan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.togglerIcon {
  color: var(--font-light);
  font-size: 2rem;
}

.navItemsContainer {
  width: 100%;
  justify-content: center;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: var(--font-light);
  text-shadow: 0px 2px 8px var(--font-dark);
}

.togglerIcon:hover,
.nav-link:hover {
  color: var(--font-hover);
  text-shadow: 0px 2px 8px var(--font-light);
}

main {
  margin: 1% 0;
}

.titleContainer {
  text-align: center;
}

.titleName {
  color: var(--font-dark);
  text-shadow: 2px 2px 8px var(--font-light);
  font-size: 5rem;
  letter-spacing: 1.5rem;
  font-family: "Redressed", cursive;
}

.titleDescription {
  color: var(--font-light);
  letter-spacing: 0.25rem;
  padding: 2%;
}

#aboutMe {
  text-align: center;
  border: none;
  margin: 2%;
  color: var(--font-light);
}

hr {
  width: 30%;
  margin: 1% auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  opacity: 1;
}

.aboutMeTextContainer {
  display: flex;
  justify-content: center;
}

.aboutMeText {
  max-width: 75%;
}

.myWorkCarousel {
  display: flex;
  justify-content: center;
}

.myWorkItems {
  border-radius: 25px;
  max-width: 80%;
  box-shadow: 0;
  transition: box-shadow 0.4s ease-in-out;
}

.myWorkItems:hover {
  box-shadow: 0px 0px 10px 10px var(--font-hover);
  cursor: grab;
}

.myWorkItems:active {
  cursor: grabbing;
}

.myWorkText {
  background: var(--itemText-bg);
  border-radius: 25px;
}

.myWorkText h5,
.myWorkText p {
  color: var(--font-light);
}

/* Contact Me Form */

.contactMeContainer {
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.contactForm {
  max-width: 550px;
  margin: 0 auto;
  background-color: var(--contact-bg);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px var(--font-light);
}

.inputFields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.inputFields,
.msg {
  width: 48%;
}

.inputFields .contactInput,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--font-light);
  padding: 10px;
  color: var(--font-dark);
  width: 100%;
}

.msg textarea {
  height: 244px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--font-light);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--font-light);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--font-light);
}

.contactBtn {
  background: var(--background);
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: var(--font-light);
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .contactForm {
    flex-direction: column;
  }

  .msg textarea {
    height: 80px;
  }

  .inputFields,
  .msg {
    width: 100%;
  }
}
